<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>
        <p style="font-size: 20px">Add Contact</p>
        <form method="post" data-th-object="${contact}">
            <div>
                <label for="name">Name: </label>
                <input id="name" type="text" data-th-field="*{name}" required>
                <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" data-th-errorclass="error"></p>
            </div>
            <div>
                <label for="email">Email: </label>
                <input id="email" type="text" data-th-field="*{email}" required>
                <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" data-th-errorclass="error"></p>
            </div>
            <div>
                <label for="phone">Phone Number: </label>
                <input id="phone" type="number" data-th-field="*{phone}" required>
                <p data-th-if="${#fields.hasErrors('phone')}" data-th-errors="*{phone}" data-th-errorclass="error"></p>
            </div>
            <div>
                <label for="birthday">Date of Birth: </label>
                <input id="birthday" type="date" data-th-field="*{dateOfBirth}" required>
                <p data-th-if="${#fields.hasErrors('dateOfBirth')}" data-th-errors="*{dateOfBirth}" data-th-errorclass="error"></p>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>