<!DOCTYPE html>
<html>
    <p> Submitted:</p>
    <div>
        <table>
            <tr>
                <td data-th-text="|Name: ${contact.name}|"></td>
            </tr>
            <tr>
                <td data-th-text="|Email: ${contact.email}|"></td>
            </tr>
            <tr>
                <td data-th-text="|Phone Number: ${contact.phone}|"></td>
            </tr>
            <tr>
                <td data-th-text="|Date of Birth: ${contact.dateOfBirth}|"></td>
            </tr>
        </table>
        <a href="/contact" class>Add another contact</a>
    </div>
</html>